@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Restaurant</h2>
@using (Html.BeginForm("Create", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group col-md-7">
        @Html.LabelFor(c => c.Name, new { @class = "col-md-3 control-label"})
        <div class="col-md-9">
                @Html.TextBoxFor(c => c.Name, new { @Value = @Model.Name, @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Restaurant.Name)
        </div>
        @Html.LabelFor(c => c.Email, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Restaurant.Email)
        </div>

        @Html.LabelFor(c => c.Photo, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <input type="file" name="file" id="file" class="form-control" />
        </div>
        @Html.LabelFor(c => c.Description, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(c => c.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Description)
        </div>
        @Html.LabelFor(c => c.Address, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Address)
        </div>
        @Html.LabelFor(c => c.Zipcode, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.Zipcode, new { @Value = "", @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Zipcode)
        </div>
        @Html.LabelFor(c => c.Phone, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Phone)
        </div>
        @Html.LabelFor(c => c.City, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.City)
        </div>
        @Html.LabelFor(c => c.TotalSeats, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.TotalSeats, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.TotalSeats)
        </div>
        @Html.LabelFor(c => c.Capacity, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.Capacity, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Capacity)
        </div>
        @Html.LabelFor(c => c.MaxSeatPerBooking, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.MaxSeatPerBooking, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.MaxSeatPerBooking)
        </div>
        @Html.LabelFor(c => c.Activated, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.CheckBoxFor(c => c.Activated, new { @class = "checkbox" })
            @Html.ValidationMessageFor(c => c.Activated)
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <input type="submit" value="Create" class="btn btn-info col-md-12" />
        </div>
    </div>
}
