@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Restaurant != null)
{
    <div class="col-md-12"><strong>@Model.Restaurant.Name</strong>
        <br />
    <br/>
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.Restaurant.Photo" class="RestaurantImageProfile" />
            </div>
            <div class="col-md-6 text-left">
                <small>@Model.Restaurant.Description</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table id="restaurantTable" class="table table-hover">
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>@Model.Restaurant.Email</td>
                    </tr>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td>@Model.Restaurant.Phone</td>
                    </tr>
                    <tr>
                        <td><strong>City:</strong></td>
                        <td>@Model.Restaurant.City</td>
                    </tr>
                    <tr>
                        <td><strong>Address:</strong></td>  
                        <td>@Model.Restaurant.Address</td>
                    </tr>
                    <tr>
                        <td><strong>ZipCode:</strong></td>
                        <td>@Model.Restaurant.Zipcode</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table id="restaurantTable" class="table table-hover">
                    <tr>
                        <td><strong>Total seats:</strong></td>
                        <td>@Model.Restaurant.TotalSeats</td>
                    </tr>
                    <tr>
                        <td><strong>Capacity:</strong></td>
                        <td>@Model.Restaurant.Capacity</td>
                    </tr>
                </table>
                <p>Opening Hours</p>
                <table class="table table-hover">
                    @foreach (var openForBooking in Model.Restaurant.OpenForBookings)
                    {
                        <tr>
                            <td>
                                <strong><small>@openForBooking.Day</small></strong>
                            </td>
                            <td>
                                <strong><small>@openForBooking.StartTime - @openForBooking.EndTime</small></strong>
                            </td>
                        </tr>
                    }
                </table>
                
                <br/>
                <button type="button" class="btn btn-info col-lg-3" onclick="location.href='@Url.Action("Index", "Reservation", new { id = @Model.Restaurant.Id })';return false;"><span style="margin-right: 5px; float:right;" class="glyphicon glyphicon-envelope"></span>Book A Table</button>
               
            </div>
        </div>
    </div>

}
else
{
    foreach (var restaurant in Model.Restaurants)
    {
        <div class="col-md-6"><strong>@Html.ActionLink(@restaurant.Name,"Index", "Restaurant", new {id = restaurant.Id},null)</strong>
            <div class="row" >
                <div class="col-md-6">
                    <img src="@restaurant.Photo" class="RestaurantImage" />
                </div>
                <div class="col-md-6 text-left" >
                    <small>@restaurant.Description</small>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-5">
                    <table id="restaurantTable">
                        <tr>
                            <td><strong>Email:</strong></td>
                            <td>@restaurant.Email</td>
                        </tr>
                        <tr>
                            <td><strong>Phone:</strong></td>
                            <td>@restaurant.Phone</td>
                        </tr>
                        <tr>
                            <td><strong>City:</strong></td>
                            <td>@restaurant.City</td>
                        </tr>
                        <tr>
                            <td><strong>Address:</strong></td>
                            <td>@restaurant.Address</td>
                        </tr>
                        <tr>
                            <td><strong>ZipCode:</strong></td>
                            <td>@restaurant.Zipcode</td>
                        </tr>
                    </table>
                   
                    
                    
                </div>
            </div>
        </div>

    }
}

