@using System.Web.UI.WebControls
@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel
@if (Model.Restaurants != null)
{
    <div class="row"></div>
    <div class="col-md-12">
        <table class="table table-striped table-responsive table-condensed">
            <tr>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder"></span></h3>
                </th>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Name</span></h3>
                </th>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Description</span></h3>
                </th>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Address</span></h3>
                </th>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder">City</span></h3>
                </th>
                <th>
                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Book</span></h3>
                </th>
            </tr>

            @foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td class="col-lg-1">
                        <img src="@restaurant.Photo" class="RestaurantImageSearch" />
                    </td>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">@Html.ActionLink(@restaurant.Name, "Index", "Restaurant", new { id = restaurant.Id }, null)</span>
                    </td>
                    <td class="col-lg-3">
                        @if (restaurant.Description.Length >= 50)
                        {
                            <span style="font-size: 17px;">@Html.DisplayFor(modelItem => restaurant.Description).ToString().Substring(1, 100)...</span>
                        }
                        else
                        {
                            <span style="font-size: 17px;">@Html.DisplayFor(modelItem => restaurant.Description)</span>
                        }
                        
                    </td>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">@Html.DisplayFor(modelItem => restaurant.Address)</span>
                    </td>
                    <td class="col-lg-2">
                        <span style="font-size: 17px;">@Html.DisplayFor(modelItem => restaurant.City)</span>
                    </td>
                    <td class="col-lg-2">
                        <button type="button" class="btn btn-info col-lg-6" onclick="location.href='@Url.Action("Index", "Reservation", new { id = restaurant.Id })';return false;"><span style="margin-right: 5px; float:right;" class="glyphicon glyphicon-envelope"></span>Book</button>


                    </td>
                </tr>
            }
        </table>
    </div>
        @Model.Result
        <br />
    }




