@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .form-control {
        max-width: 40%;
    }
</style>
<h2>Index</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SearchName, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.SearchCity, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SearchCity, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-info">Search <span style="margin-left: 5px; float:right;" class="glyphicon glyphicon-search"></span></button>



}


@Html.Partial("_SearchPartial")