@using System.Web.UI.WebControls
@model GroupProjectRestaurangMVC01.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group col-md-7">
        
                @Html.LabelFor(m => m.UserName, new {@class="col-md-3 control-label"})
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.UserName, new {@class="form-control"})
        </div>
            @Html.ValidationMessageFor(m => m.UserName)

            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Password)
        @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-3 checkbox" })
        <div class="col-md-9">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
        </div>
           
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <input type="submit" value="Log in" class="btn btn-success col-md-12" />
        </div>
        </div>
    <div class="row"></div>
    <div class="col-md-7">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-info col-md-5" })
            @Html.ActionLink("Forgot Password?", "ResetPassword", "Account", new { @class = "btn btn-danger col-md-5 col-md-push-2" })
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;"></div>
}
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
