@model GroupProjectRestaurangMVC01.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Reservation", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-group col-md-7" >
        @Html.LabelFor(c => c.CustomerName, new { @class = "col-md-3 control-label"})
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CustomerName)
        </div>
    </div>
    
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#date").datepicker({ dateFormat: 'yy/mm/dd' });
    });
</script>