@using System.Web.UI.WebControls
@model GroupProjectRestaurangMVC01.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "SecondCreate";
}

<h2>SecondCreate</h2>
@using (@Html.BeginForm("SecondCreate", "Reservation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group col-md-7">
        @Html.LabelFor(c => c.CustomerName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CustomerName)
        </div>
    </div>

    <div class="form-group col-md-7">
        @Html.LabelFor(c => c.CustomerPhoneNumber, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.CustomerPhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CustomerPhoneNumber)
        </div>
    </div>

    <div class="form-group col-md-7">
        @Html.LabelFor(c => c.ContactEmail, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(c => c.ContactEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.ContactEmail)
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6 btn-group control-buttons" data-toggle="buttons">
            @for (int i = 0; i < @Model.ammountOfButtonsToGenerate; i++)
            {
                <input name="TimeString"
                       type="radio"
                       class="btn btn-primary col-md-2 btn-martin"
                       data-toggle="popover"
                       title="Popover title"
                       id="TimeString"
                       value="@Model.ButtonList.ElementAt(i)" />
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="BtnPrevious" value="Previous" class="btn btn-info" />
            <input type="submit" name="BtnNext" value="Make the reservation" class="btn btn-success" />
        </div>
    </div>
}

<script>
    $(".btn-group > .btn").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>
